In [1]:
students=['sanjay','devi','radhika','arun','kanishka']
print(students);

['sanjay', 'devi', 'radhika', 'arun', 'kanishka']

In [3]:
type(students)

list

In [4]:
print(students[1])

devi

In [5]:
print(students[0])

sanjay

In [6]:
students.append('kanaga')

In [7]:
print(students)

['sanjay', 'devi', 'radhika', 'arun', 'kanishka', 'kanaga']

In [11]:
students.insert(1,'rajesh')

In [12]:
print(students)

['sanjay', 'rajesh', 'devi', 'radhika', 'arun', 'kanishka', 'kanaga']

In [13]:
del students(1)

SyntaxError: can't delete function call (<ipython-input-13-1b7a970bc0e4>, line 1)

In [14]:
del students[1]

In [15]:
print(students)

['sanjay', 'devi', 'radhika', 'arun', 'kanishka', 'kanaga']

In [17]:
x=students.pop()
print(x)

kanaga

In [18]:
students.pop()

'kanishka'

In [19]:
students.insert(2,'Iniya')

In [20]:
students.insert(2,'Jaya')

In [21]:
students.insert(2,'richerd')

In [22]:
print(students)

['sanjay', 'devi', 'richerd', 'Jaya', 'Iniya', 'radhika', 'arun']

In [23]:
students.sort

In [24]:
students.sort()

In [25]:
print(students)

['Iniya', 'Jaya', 'arun', 'devi', 'radhika', 'richerd', 'sanjay']

In [27]:
print(sorted(students))

['Iniya', 'Jaya', 'arun', 'devi', 'radhika', 'richerd', 'sanjay']

In [28]:
students.reverse()

In [29]:
print(students)

['sanjay', 'richerd', 'radhika', 'devi', 'arun', 'Jaya', 'Iniya']

In [30]:
len(students)

7