In [1]:
name ="mark"
print(name)

mark

In [2]:
name='Billa'
print(name)

Billa

In [5]:
name1 ="billa"
name2="jilla"
name3=f"{name1.title()} {name2.title()}"
print(name3)

Billa Jilla

In [6]:
name1 ="billa"
name2="jilla"
name3=f"{name1.upper()} {name2.lower()}"
print(name3)

BILLA jilla

In [7]:
name1 ="billa"
name2="jilla"
name3=f" My name is {name1.upper()} {name2.lower()}"
print(name3)

 My name is BILLA jilla

In [16]:
name1 ="billa "
name2=" jilla"
print(name2.rstrip())

 jilla

In [17]:
name1 ="billa "
name2=" jilla"
print('New1\n','\tcNew2','\tcNew3')

New1 New2 New3

In [18]:
name1 ="billa "
name2=" jilla"
print('New1\n','\tcNew2','\tcNew3')

New1
 	cNew2 	cNew3